@import "./styles/bio.css";
@import "./styles/navbar.css";
@import "./styles/contact.css";
@import "./styles/audio.css";
@import "./styles/video.css";
@import "./styles/gallery.css";
@import url("https://use.typekit.net/gau7dsu.css");

body {
  background-color: white;
  color: black;
}

a,
a:visited,
a:active {
  color: unset;
}

ul {
  list-style-type: unset;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
  padding-inline-start: unset;
}

.center {
  text-align: center;
  justify-content: center;
}

.container {
  display: flex;
  margin: 0 5em;
  height: 100%;
}

@media screen and (max-width: 551px) {
  .container {
    margin: unset;
  }
}
